apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-crds
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sercantopcu/eks-gitops-infra
    targetRevision: HEAD
    path: k8s/monitoring/install/charts/crds
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
