name: Lint Kubernetes Yamls

on:
  pull_request:
    paths:
      - 'k8s/**.yaml'
      - '.github/workflows/lint-k8s-yamls.yaml'
  push:
    branches: [main]

jobs:
  lint:
    name: Lint K8s Manifests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install kubeconform
        run: |
          curl -sSLo kubeconform.tar.gz https://github.com/yannh/kubeconform/releases/latest/download/kubeconform-linux-amd64.tar.gz
          tar -xzf kubeconform.tar.gz
          sudo mv kubeconform /usr/local/bin/

      - name: Run kubeconform
        run: |
          kubeconform -strict -summary -output json -ignore-missing-schemas -kubernetes-version 1.27 ./k8s
